@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
    --color-primary: #6366F1;
    --color-gray100: #F3F6FF;
    --color-gray200: #EFF2FC;
    --color-gray300: #E2E5F1;
    --color-gray400: #D4D7E5;
    --color-gray500: #B4B7C9;
    --color-gray600: #9397AD;
    --color-gray700: #565973;
    --color-gray800: #33354D;
    --color-gray900: #0B0F19;
    --color-white: #FFF;

    --container-padding: 1rem;
    --transition-time: all 0.2s;
}

* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body, section, div, header, footer, main, aside, nav, blockquote, p, span {
    margin: 0;
    padding: 0;
}

body {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

.container {
    width: 100%;
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
    margin-left: auto;
    margin-right: auto;
}

a {
    color: var(--color-primary);
    text-decoration: none;
}
a:hover {
    color: var(--color-primary);
    text-decoration: underline;
}
    
.btn-primary {
    background-color: var(--color-primary);
    color: var(--color-white);
    border-radius: 8px;
    padding: 12px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}


.btn-primary:hover {
    background-color: var(--color-gray500);
    color: var(--color-white);
    text-decoration: none;
}

.btn-primary i {
    margin-right: 0.5rem;
}

.btn-mobile {
    background-color: transparent;
    border: none;
    font-size: 2rem;
}

.btn-toggle-switch {
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn-toggle-switch .label {
    display: none;
}

.toggle-switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 25px;
}

.toggle-switch input {
    opacity: 0;
}

.toggle-switch input:checked +.slider {
    background-color: var(--color-primary);
}

.toggle-switch input:focus +.slider {
    box-shadow: 0 0 1px var(--color-primary);
}

.toggle-switch input:checked +.slider::before {
    transform: translateX(18px);
    background-color: var(--color-white);
}
.toggle-switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--color-gray700);
    transition: all 0.2s;
}
.toggle-switch .slider::before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 3px;
    bottom: 2.5px;
    background-color: var(--color-white);
    transition: all 0.2s;
}
.toggle-switch .slider.round {
    border-radius: 35px;
}

.toggle-switch .slider.round::before {
    border-radius: 50%
}

.navbar {
    display: none;
}
.nav-link {
    color: var(--color-gray800);
    font-weight: 600;
    text-decoration: none;
}
.nav-link:hover {
    color: var(--color-primary);
    text-decoration: underline;
}
.active {
    color: var(--color-primary);
    text-decoration: underline;
}

#sign-in {
    display: none;
}

header .container {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr auto auto;
    gap: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

h1 {
    font-size: 34px;
    font-weight: 800;
    margin: auto;
}

h2 {
    color: var(--color-gray800);
    font-size: 28px;
    text-align: center;
    font-weight: 800;
}

h3 {
    color: var(--color-gray800);
    font-weight: 800;
    font-size: 20px;
}

#showcase {
    background-image: linear-gradient(hsl(225, 75%, 97%, 7%) 0%, hsl(291, 84%, 70%, 6%) 39%, hsl(293, 84%, 61%, 5%) 62%, hsl(239, 84%, 67%, 10%) 100%);
    align-items: center;
    text-align: center;
    padding-bottom: 2rem;
}


.subheading {
    margin-top: 2rem;
    font-size: 18px;
    font-weight: 400;
    color: var(--color-gray700);
}

.store-btn {
   margin-top: 3rem;
   display: grid;
   grid-row: 1fr 1fr;
   gap: 1rem;
}

.app-store {
    height: 50px;
    padding-top: 0.5rem;
    align-content: center;
    background-color: #131022;
    border-radius: 8px;
}
.google-play {
    height: 50px;
    padding-top: 0.5rem;
    align-content: center;
    background-color: #131022;
    border-radius: 8px;
}

.discover-more {
    margin-top: 3rem;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 1rem;
}

span {
    font-size: 14px;
}

.iphone-container {
     display: none;
    /* position: relative;
    align-items: baseline;
    overflow: hidden; */
}
/*
.iphone-budget {
    grid-area: 1 / 1;
    z-index: 0; 
    transform: translate(0%, 10%); 
    }

 .iphone-cards {
    grid-area: 1 / 1; 
    z-index: 1; Lägger denna över 
    transform: translate(60%, 0%); 
} */

.heading p {
    font-size: 18px;
    text-align: center;
    color: var(--color-gray700);
}
#features {
    margin: 1rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.app-feature p {
    font-size: 16px;
    color: var(--color-gray700);
}


.app-features {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    margin-top: 3rem;
}

.text-content {
    display: flex;
    flex-direction: column;
    
}
.features-title {
    margin: 0;
    margin-bottom: 1rem;
}
#how-d-work .container {
    background-color: var(--color-gray100);
    height: 915px;
    padding-top: 2rem;
    text-align: center;
}

/* TABLET */
@media (min-width: 768px) {

.container {
    max-width: 720px;
}
#showcase .container {
    margin-top: 2rem;
    height: 618px;
}
.btn-toggle-switch .label {
    display: block;
}
.header .container {
    gap: 3rem;
}
h1 {
    font-size: 44px;
}

.subheading {
    color: var(--color-gray700);
    width: 270px;
    font-size: 18px;
    text-align: left;
    margin-top: 120px;
}

.store-btn {
    display: flex;
    align-items: center;
}

.app-store {
    padding: 10px;
} 

.google-play {
   padding: 10px;
} 

/* .iphone-container {
    border: solid;
    display: grid;
    
    height: 415px;
    width: 452px;
}
.iphone-budget {
    width: 240px;
    height: 485px;
    margin-left: 60px;
}
.iphone-cards {
    width: 244px;
    height: 493px;
    margin-left: 60px;
} */
}

/* LAPTOP */
@media (min-width: 1400px) {

    .container {
        max-width: 1320px;
    }
    
    header .container {
        grid-template-columns: auto 1fr auto auto;
        gap: 3rem;
    }

    .btn-toggle-switch .label {
        display: block;
    }

    

    .navbar {
        display: block;
    }
    
    #sign-in {
    display: block;
    }

    .btn-mobile {
        display: none;
    }
    }
